@import "tailwindcss";

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font-outfit {
  font-family: 'Outfit', sans-serif;
}

